* {
    background-color: rgb(241, 241, 241);
}

.outer-div {
    display: grid;
    place-items: center;
    background-color: #c6c4c4;
    margin: 80px;
    border-radius: 50px;
    padding: 80px;
}

.slider {
    border-radius: 30px;
    width: 85%;
    height: 25em;
    overflow: hidden;
    position: relative;
    /* background-color: #c6c4c4; */
}

.slide {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    top: 0;
    left: 0;
    
}

.slide:first-child {
    display: block;
}

#prevButton, #nextButton {
    width: 7em;
    position: absolute;
    margin: 9em;
    background-color: #c6c4c4;
    border: none;
}

#prevButton img, #nextButton img {
    width: 100%;
    background-color: #c6c4c4;
}

#nextButton{
    right: 0;
}
#prevButton{
    left: 0;
}

/* TV Control start */

#tvOff {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(239, 78, 85);
}

#tvOffImg {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(239, 78, 85);
}

#tvOn{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(71, 218, 112);
}  
#tvOnImg {
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(71, 218, 112);
}

#remoteControl {
    background-color: rgb(71, 218, 112);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
} 
.remoteControlButtons{
    background-color: rgb(71, 218, 112);
    display: flex;
}
.remoteControlButton{
    background-color:rgb(71, 218, 112);
    width: 80px;
    height: 80px;
    float:left;
    margin:1em;
    padding: 5px;
    border-radius: 50em;
}

.remoteControlButton.active{
background-color: #c6c4c4;
}

.tvPrevButton,.tvNextButton{
    width: 5em;
    position: absolute;
    background-color: rgb(71, 218, 112);
    border: none;
}

.tvPrevButton{
    left:0;
}
.tvNextButton{
    right:0;
}

.tvNextButton img, .tvPrevButton img{
    width: 100%;
    background-color: rgb(71, 218, 112)
}
/* TV Control End */

#lightOff, #bookOff, #musicOff, #voiceCommandOff{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(239, 78, 85);
}

#lightOffImg,#bookOffImg,#musicOffImg,#voiceCommandOffImg {
    align-self: center;
    width: 50%;
    height: 100%;
    padding: 0;
    background-color: rgb(239, 78, 85);
}


/* .book {
    position: relative;
    overflow: hidden;
  }
  
  .bookSlider {
    display: flex;
    width: fit-content;
    transition: transform 0.3s ease;
  }
  
  .bookSlide {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
    text-align: center;
  }
  
  .bookPrevButton,
  .bookNextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
  
  .bookPrevButton {
    left: 10px;
  }
  
  .bookNextButton {
    right: 10px;
  }
   */



/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */
/* body {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(to left top, #031A9A, #8B53FF); */
/* } */ 

.wrapper {
    /* display: none; */
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  margin:23px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .bookcarousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.bookcarousel::-webkit-scrollbar {
  display: none;
}
.bookcarousel.no-transition {
  scroll-behavior: auto;
}
.bookcarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.bookcarousel.dragging .card {
  cursor: grab;
  user-select: none;
  background-color: rgb(239, 78, 85);
}
.bookcarousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookcarousel {
  margin: 25px 0px 25px 0px;
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  /* background: #fff; */
  cursor: pointer;
  /* padding-bottom: 15px; */
  /* margin: 5px; */
  flex-direction: column;
  border-radius: 8px;
}
.bookcarousel .card .img {
  background: #8B53FF;
  height: 150px;
  width: 150px;
  border-radius: 25%;
}
.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 25%;
  object-fit: cover;
  border: 4px solid #fff;
  
}
.bookcarousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}
.bookcarousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

/* @media screen and (max-width: 900px) {
  .wrapper .bookcarousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .bookcarousel {
    grid-auto-columns: 100%;
  }
} */

/* #backButton{
    display: none;
    top: 50%;
    height: 70px;
    width: 70px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(200%);
    transition: transform 0.1s linear;
} */


.card img, .card{
    scroll-snap-align: start;
    height: 325px;
    /* height: 100%; */
    list-style: none;
    cursor: pointer;
    /* padding-bottom: 15px; */
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(239, 78, 85);
}



/* xxxxxxxxxxxxxxxxxxxxxxxxxx */




.wrapper .musiccarousel{
display: grid;
grid-auto-flow: column;
grid-auto-columns: calc((100% / 3) - 12px);
overflow-x: auto;
scroll-snap-type: x mandatory;
gap: 16px;
border-radius: 8px;
scroll-behavior: smooth;
scrollbar-width: none;
}
.musiccarousel::-webkit-scrollbar {
display: none;
}
.musiccarousel.no-transition {
scroll-behavior: auto;
}
.musiccarousel.dragging {
scroll-snap-type: none;
scroll-behavior: auto;
}
.musiccarousel.dragging .card {
cursor: grab;
user-select: none;
background-color: rgb(239, 78, 85);
}
.musiccarousel :where(.card, .img) {
display: flex;
justify-content: center;
align-items: center;
}
.musiccarousel {
margin: 25px 0px 25px 0px;
scroll-snap-align: start;
height: 342px;
list-style: none;
cursor: pointer;
flex-direction: column;
border-radius: 8px;
}
.musiccarousel .card .img {
background: #8B53FF;
height: 150px;
width: 150px;
border-radius: 25%;

}
.musiccarousel .card h2 {
font-weight: 500;
font-size: 1.56rem;
margin: 30px 0 5px;
width: 80%;
text-align: center;
border-radius: 10px;
}
.musiccarousel .card span {
color: #6A6D78;
font-size: 1.31rem;
width: 80%;
text-align: center;
border-radius: 10px;
}


















.wrapper .voicecarousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  }
  .voicecarousel::-webkit-scrollbar {
  display: none;
  }
  .voicecarousel.no-transition {
  scroll-behavior: auto;
  }
  .voicecarousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
  }
  .voicecarousel.dragging .card {
  cursor: grab;
  user-select: none;
  background-color: rgb(239, 78, 85);
  }
  .voicecarousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .voicecarousel {
  margin: 25px 0px 25px 0px;
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  cursor: pointer;
  flex-direction: column;
  border-radius: 8px;
  }
  .voicecarousel .card .img {
  background: #8B53FF;
  height: 150px;
  width: 150px;
  border-radius: 25%;
  }
  .voicecarousel .card .img img{
    /* width: 50%; */
  }
  .voicecarousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  }
  .voicecarousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  }
  


